.home-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
img{
  height: 80px;
  width: 80px;
  border-radius: 25cm;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .home-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2px;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }
}